@import '../../../scss/mixins.scss';

@mixin bg($url, $size) {
  background: url($url) no-repeat center center / $size $size;
}

.video-timer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.video-timer-panel {
  display: inline-flex;
  background: rgb(37, 216, 178);
  width: auto;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 4px;
  margin: 0 0.1rem;
  min-width: 2rem;
}

.video-timer.ending .video-timer-panel {
  background: rgb(251, 85, 84);
}

.bottom-bar {
  background-color: black !important;
  text-align: center;
  top: auto !important;
  bottom: 0;
  border-top: 1px solid #222222;
}

.bottom-bar button {
  flex: 1;
  margin: 0 0.2rem;
}

.close {
  fill: white !important;
  position: fixed;
  left: 1rem;
}

.actionButton {
  @include size(50px);
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  &.reject {
    @include bg('../../../assets/images/icons/close.svg', 30px);
  }
  &.reject.small {
    @include bg('../../../assets/images/icons/close.svg', 20px);
  }
  &.like {
    @include bg('../../../assets/images/icons/heart.svg', 50px);
  }
  &.join {
    @include bg('../../../assets/images/icons/camera.svg', 100%);
  }
  &.invite {
    color: black;
    background: #9fc5f8;
    text-transform: uppercase;
    width: 70px;
    height: 28px;
    border-radius: 5px;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }
  &:active {
    opacity: 0.6;
  }
}

* {
  outline: none;
  appearance: none;
}
