.countDownBox {
  border: 2px solid #363636;
  border-radius: 4px;
  font-size: 2rem;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.info {
  color: #c8c8c8;
}

.userInfo {
  margin-top: 30px;
  .name {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 0;
  }
  .bio {
    padding: 0 30px;
    font-size: 0.9rem;
  }
}

.container {
  justify-content: flex-start;
  position: fixed;
  // opacity: 0.8;
}
