.leaveVideo {
  background-color: #feafb0;
  border: none;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  margin-top: -4px;

  &:active {
    background-color: #f59799;
  }
}

.videoFrame {
  height: calc(100% - 64px - 60px);
  box-sizing: border-box;
}
