.picker {
  display: block;
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  input {
    display: none;
  }
  position: relative;
}

.uploadPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
