.header {
  height: 64px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--ion-safe-area-top);
  width: 100%;
}

.gap {
  height: 50px;
  width: 50px;
}

.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
}
