@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import '../../scss/mixins.scss';

@mixin bg($url, $size) {
  background: url($url) no-repeat center center / $size $size;
}

.card {
  @include flex(column);
  width: 100%;
  height: 100%;
}

.userInfo {
  @include flex(column);
  .avatar {
    @include size(200px);
    object-fit: cover;
    border-radius: 50%;
  }
  .name {
    text-align: center;
    font-size: 2rem;
    margin: 30px 0;
  }
  .bio {
    text-align: center;
    padding: 0 45px;
    white-space: pre-wrap;
    max-height: 40px;
  }
}

.actions {
  @include flex(row);
  // background-color: red;
  justify-content: space-around;
  width: 100%;
  height: 110px;
  margin-top: auto;
  button {
    @include size(50px);
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    &.reject {
      @include bg('../../assets/images/icons/close.svg', 30px);
    }
    &.like {
      @include bg('../../assets/images/icons/heart.svg', 50px);
    }
    &.join {
      @include bg('../../assets/images/icons/camera.svg', 100%);
    }
    &.invite {
      color: black;
      background: #9fc5f8;
      text-transform: uppercase;
      width: 70px;
      height: 28px;
      border-radius: 5px;
      font-size: 0.7rem;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1px;
    }
    &:active {
      opacity: 0.6;
    }
  }
}
