.app-bar {
  background-color: black !important;
  text-align: center;
  border-bottom: 1px solid white;
}

.logo {
  margin: 0 auto;
  height: 3rem;
}

.video-frame {
  height: calc(100vh - 64px);
}

p {
  font-size: 26px;
  text-align: center;
  margin-top: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

.countdown-details {
  margin-top: 3rem;
  font-size: 1rem;
}

.countdown-details p {
  font-size: 1rem;
}

.countdown-details strong {
  font-size: 2rem;
}

.countdown-box {
  width: 6rem;
  height: 6rem;
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.bottom-bar {
  background-color: black !important;
  text-align: center;
  top: auto !important;
  bottom: 0;
  border-top: 1px solid #222222;
}

.bottom-bar button {
  flex: 1;
  margin: 0 0.2rem;
}

.feedback {
  background: #111111;
  width: 80%;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #222222;
  margin-bottom: 2rem;
}

.feedback button {
  border: 1px solid;
  margin: 0 auto;
  display: block;
}