<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671960082645-1ailq0q3t32nqcdaqp8lpnoiaso62l7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671960082645-1ailq0q3t32nqcdaqp8lpnoiaso62l7n</string>
	<key>API_KEY</key>
	<string>AIzaSyCY1pEyh4Vf2o5FMolU46P7UmIakPxvf1w</string>
	<key>GCM_SENDER_ID</key>
	<string>671960082645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bloom.app.com</string>
	<key>PROJECT_ID</key>
	<string>bloom-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>bloom-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671960082645:ios:3fad5eef2343d2fcc19a5c</string>
	<key>DATABASE_URL</key>
	<string>https://bloom-dating.firebaseio.com</string>
</dict>
</plist>