// .buttonContainer {
//   color: #999999; //#25d8b2; //#999999
//   input:checked ~ .text {
//     background-color: red;
//   }
// }
// .checkbox {
//   // opacity: 0;
//   // width: 0;
//   // height: 0;
//   // outline: none;

// }

.container {
  cursor: pointer;
  margin: 5px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .button {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 1.6rem;
    border-radius: 4px;
  }

  input:checked ~ .button {
    color: #25d8b2;
  }
}
